/* ! default style start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
h2 {
  font-size: 2.5rem;
}
.container {
  padding: 0 5rem;
}
.mb {
  margin-bottom: 5rem;
}
/* ! default style end */

/* ! menu section style start */
.menu-section {
  background: #000;
  color: white;
  padding: 1.3rem 0;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-list {
  display: flex;
  column-gap: 2rem;
}
.menu-list li a {
  color: white;
}
.menu-list li a:hover {
  color: red;
}
/* ! menu section style end */

/* ! banner section style end */
.banner-section {
  background: #000;
  color: white;
}
.banner {
  display: flex;
  align-items: center;
}
.left-banner,
.right-banner {
  width: 50%;
}
.left-banner small {
  color: red;
}
.left-banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.left-banner p {
  margin-bottom: 2rem;
}

.banner-btn {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: 700;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 10px;
  text-decoration: none;
}

.banner-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

.banner-img {
  width: 100%;
}
/* ! banner section style end */

/* ! blogs section style start */
.head-title {
  text-align: center;
}
.blogs {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 4rem;
}
.blog {
  width: 350px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
}
.blog-img {
  text-align: center;
}
.blog img {
  width: 25%;
}
.blog-details p {
  margin-bottom: 2.4rem;
  text-align: justify;
}
.read-btn {
  padding: 0.5rem 2rem;
  display: block;
  text-align: center;
}
/* ! blogs section style end */
